<h2>Register</h2>
{{#if error}}<p class="error">{{error}}</p>{{/if}}
<form method="POST" action="/register" class="card">
  <label>Username <input name="username"></label>
  <label>Password <input type="password" name="password"></label>
  <button>Sign Up</button>
</form>
