<nav class="nav">
  <a href="/">Home</a>
  <a href="/comments">Comments</a>
  {{#if user}}
    <span class="who">Logged in as <strong>{{user}}</strong></span>
    <a href="/comment/new">New Comment</a>
    <form class="logout" action="/logout" method="POST"><button>Logout</button></form>
  {{else}}
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  {{/if}}
</nav>
