<nav>
  <a href="/">Home</a>
  <a href="/comments">Comments</a>

  {{#if user}}
    <span>Logged in as {{user}}</span>
    <form method="POST" action="/logout" style="display:inline;">
      <button type="submit">Logout</button>
    </form>
  {{else}}
    <a href="/register">Register</a>
    <a href="/login">Login</a>
  {{/if}}
</nav>
<hr>

